@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply cursor-pointer border border-gray-400 bg-white rounded-md
      px-3 py-2 text-left transition ease-in-out duration-150;

    &:hover {
      @apply bg-gray-100;
    }

    &:focus {
      @apply outline-none shadow-outline border-blue-300;
    }

    @screen sm {
      @apply text-sm leading-5;
    }

    &--active {
      @apply text-white bg-blue-600 border-blue-600;

      &:hover {
        @apply bg-blue-500 border-blue-500;
      }
    }
  }

  .placeholder {
    @apply bg-gray-300 rounded-md;
  }
}

@layer base {
  a {
    @apply underline text-teal-600;
  }

  table {
    @apply w-full;

    thead {
      @apply border-b border-gray-400;

      th {
        @apply text-left p-2;
      }
    }

    tr {
      @apply border-b border-gray-400 transition-colors ease-in-out duration-150;

      &:last-child {
        border-bottom: 0;
      }

      td {
        @apply p-2;
      }
    }

    tbody tr:hover {
      @apply bg-gray-200;
    }

    tfoot tr {
      @apply border-t border-b-0;
    }
  }
}
