@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply cursor-pointer border border-gray-400 bg-white rounded-md
      px-3 py-2 text-left transition ease-in-out duration-150;

    &:hover {
      @apply bg-gray-100;
    }

    &:focus {
      @apply outline-none shadow-outline border-blue-300;
    }

    @screen sm {
      @apply text-sm leading-5;
    }

    &--active {
      @apply text-white bg-blue-600 border-blue-600;

      &:hover {
        @apply bg-blue-500 border-blue-500;
      }
    }
  }
}
